.letra-titulo{
    font-family: "Sour Gummy";
    font-weight: bold;
}

/* .background-bonito{
    background-image: url(../src/assets/lang.jpg);
    background-repeat: repeat;
}
.background-bonito::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #7bffb69a;
} */
.none-desing {
    text-decoration: none; /* Quita el subrayado */
    color: inherit;        /* Usa el color del texto circundante */
}  